.header{
   background: #CD5C5C;
   padding: 20px 0;
}

.router-link-active{
    border-bottom: 1px solid #2F4F4F;
}

.nav{
    display: flex;
    justify-content: space-between;

    .user{
        display: flex;
    }

    .post{
        display: flex;
    }

    .a{
        display: block;
        padding: 5px 10px;
        color: #2F4F4F;
        font-size: 18px;
    }
}
