<div class="user-log">
    <div class="container">
        <div class="error-massege" *ngIf="isEroosMasege">
            <h3>{{error}}</h3>
        </div>
        <form [formGroup]="appForm" (ngSubmit)="onSubmit()" class="form" >
            <div class="form-control">
                <div>
                    <label for="email">Email</label>
                    <span *ngIf="!appForm.get('email').valid && appForm.get('email').touched">  Email is not corect</span>
                </div>
                <input type="text"  id="email" name="email" formControlName="email">
            </div>
            
            <div class="form-control">
                <div>
                    <label for="password">Password</label>
                    <span *ngIf="!appForm.get('password').valid && appForm.get('password').touched">  Password not corect</span>
                </div>
                <input type="password" id="password" name="password" formControlName="password">
            </div>

            <div *ngIf="!isLoginMode" class="user-sing-up">
                <div class="form-control">
                    <div>
                        <label for="user-name">User Name</label>
                        <span *ngIf="!appForm.get('user-name').valid && appForm.get('user-name').touched"> Add User name </span>
                    </div>
                    <input type="text" id="user-name" name="user-name" formControlName="user-name">
                </div>
                    
                <div class="form-control">
                    <div>
                        <label for="age">Age: {{'Age'}}</label>
                    </div>
                    <input type="number" id="age" name="age" formControlName="age">
                </div>
                
                <div class="form-control">
                    <div>
                        <label for="height">Height: {{'Height'}}</label>
                    </div>
                    <div class="form-select">
                        <input type="number" id="height" name="height" formControlName="height">
                        <select class="select" name="select-height" formControlName="select-height">
                            <option value="inches">inches</option>
                            <option value="centimeters">centimeters</option>
                        </select>
                    </div>
                </div>
        
                <div class="form-control">
                    <div>
                        <label for="weight">Weight: {{'Weight'}}</label>
                    </div>
                    <div class="form-select">
                        <input type="number" id="weight" name="weight" formControlName="weight">
                        <select class="select" name="select-weight" formControlName="select-weight">
                            <option value="pounds">pounds</option>
                            <option value="kilograms">kilograms</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-btn">
                <button type="submit" class="btn btn-login" 
                    >{{ isLoginMode ? 'Login' : 'Sing up' }}</button>
                <button type="button" class="btn btn-login-module" 
                    (click)="isLoginMode = !isLoginMode"
                    >{{ isLoginMode ? 'To Sing Up' : 'To Login' }}</button>
            </div>
        </form>
    </div>
</div>
