.user-log{
    background: olive;
}

.form{
    max-width: 400px;
    margin: 0 auto;
}

.form-btn{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.form-control{
    margin: 5px 0;
}

input{
    width: 100%;
}

span{
    color: orangered;
}