<div class="user-log">
    <div class="container">
        <div class="error-massege" *ngIf="isEroosMasege">
            <h3>{{error}}</h3>
        </div>
        <form [formGroup]="appForm" (ngSubmit)="onSubmit()" class="form" >
            <div class="form-control">
                <div>
                    <label for="email">Email</label>
                    <span *ngIf="!appForm.get('email').valid && appForm.get('email').touched">  Email is not corect</span>
                </div>
                <input type="text"  id="email" name="email" formControlName="email">
            </div>
            <div class="form-control">
                <div>
                    <label for="password">Password</label>
                    <span *ngIf="!appForm.get('password').valid && appForm.get('password').touched">  Password not corect</span>
                </div>
                <input type="password" id="password" name="password" formControlName="password">
            </div>
            <div class="form-btn">
                <button type="submit" class="btn btn-login" 
                    >{{ isLoginMode ? 'Login' : 'Sing up' }}</button>
                <button type="button" class="btn btn-login-module" 
                    (click)="isLoginMode = !isLoginMode"
                    >{{ isLoginMode ? 'To Sing Up' : 'To Login' }}</button>
            </div>
        </form>
    </div>
</div>
