.post{
    background: seagreen;
}

.btn{
    color: #ffffff;
    padding: 10px;
    background: cornflowerblue;

    &-wraper{
        padding: 20px 0;
        display: flex;
        justify-content: space-between ;
    }

    &-delite{
        background: #696969;
    }
    
}
