.posts{
    background: darkgreen;
}

.posts-wraper{
    display: flex;
}

.post{
    flex-grow: 1;
    background: #F4A460;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #696969;
}
.post-link{
    background: #F4A460;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #696969;

    .a{
        outline: none;
        color: darkgreen;
    }
}