
.post-link{
    background: #F4A460;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #696969;

    .a{
        outline: none;
        color: darkgreen;
    }
    
}

span{
    display: block;
    font-size: 40px;
    text-align: center;
}

.btn-delite{
    background: #696969;
    color: #ffffff;
    padding: 10px;
}